ThermIQ2HomeKit.json
[{
	"id": "d55bdece.ac356",
	"type": "tab",
	"label": "Styring Varmepumpe",
	"disabled": false,
	"info": ""
}, {
	"id": "3c6556ba.60319a",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "AUTO",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2028",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 590,
	"y": 240,
	"wires": [
		["a87c1620.4fe038"],
		[]
	]
}, {
	"id": "cbdd43d4.b2e1d",
	"type": "mqtt in",
	"z": "d55bdece.ac356",
	"name": "VarmepumpeData",
	"topic": "ThermIQ/ThermIQ-mqtt/data",
	"qos": "0",
	"datatype": "json",
	"broker": "7d2c778d.4bc468",
	"x": 90,
	"y": 660,
	"wires": [
		["a61b3b4a.bf3768", "709e7af7.2294c4", "95cc53cf.8afaa", "8600b56.1ab9248", "5d7b670b.d6c3e8", "427b1741.939e58", "35decc23.7c1d94", "1c3c793.8667f87", "d215310.dbd95d", "25f427e1.72f228", "d47bf9b1.5e5ab8", "18dd9333.f04d9d"]
	]
}, {
	"id": "950eb2c5.d8a9d",
	"type": "mqtt out",
	"z": "d55bdece.ac356",
	"name": "Skriv til varmepumpe",
	"topic": "ThermIQ/ThermIQ-mqtt/WRITE",
	"qos": "0",
	"retain": "false",
	"broker": "1d875a1e.53c9d6",
	"x": 1500,
	"y": 480,
	"wires": []
}, {
	"id": "fcf9ca3.28b6538",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "1",
		"fromt": "num",
		"to": "{\"On\":true}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "2",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "0",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "3",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "4",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 419.1666603088379,
	"y": 237.99997520446777,
	"wires": [
		["3c6556ba.60319a"]
	]
}, {
	"id": "ce60f2d.41f241",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "auto",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1122.1666526794434,
	"y": 239.6666488647461,
	"wires": []
}, {
	"id": "a61b3b4a.bf3768",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "",
	"func": "msg.payload=msg.payload.r33\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 399.1666603088379,
	"y": 188.66664123535156,
	"wires": [
		["fcf9ca3.28b6538"]
	]
}, {
	"id": "18b34f65.83a951",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "KUN VARMEPUMPE",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2028",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 641.8332977294922,
	"y": 326.9999837875366,
	"wires": [
		["1a801b36.6b3015"],
		[]
	]
}, {
	"id": "edbc9aa6.3ba718",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "2",
		"fromt": "num",
		"to": "{\"On\":true}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "1",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "0",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "3",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "4",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 417.9999694824219,
	"y": 326.9999713897705,
	"wires": [
		["18b34f65.83a951"]
	]
}, {
	"id": "e66b7c26.e33b3",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "kun vp",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1191.0001106262207,
	"y": 322.66664980848645,
	"wires": []
}, {
	"id": "709e7af7.2294c4",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "",
	"func": "msg.payload=msg.payload.r33\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 397.9999694824219,
	"y": 277.6666374206543,
	"wires": [
		["edbc9aa6.3ba718"]
	]
}, {
	"id": "47e5e5a2.d96a3c",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "KUN VARMTVANN",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2028",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 613.8332901000977,
	"y": 419.9999809265137,
	"wires": [
		["6e3775ba.280c5c"],
		[]
	]
}, {
	"id": "d840f7de.9ea548",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "4",
		"fromt": "num",
		"to": "{\"On\":true}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "2",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "0",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "3",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "1",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 421.9999694824219,
	"y": 419.9999713897705,
	"wires": [
		["47e5e5a2.d96a3c"]
	]
}, {
	"id": "aa1cfe6b.c92ae",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "kun varmtvann",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1210.999984741211,
	"y": 421.6666564941406,
	"wires": []
}, {
	"id": "95cc53cf.8afaa",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "",
	"func": "msg.payload=msg.payload.r33\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 401.9999694824219,
	"y": 370.6666374206543,
	"wires": [
		["d840f7de.9ea548"]
	]
}, {
	"id": "5e3a62c4.7766ec",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "KUN TILSKUDD",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2028",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 615.8332901000977,
	"y": 505.9999837875366,
	"wires": [
		["34ef3081.7bd96"],
		[]
	]
}, {
	"id": "77d91378.e6b61c",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "3",
		"fromt": "num",
		"to": "{\"On\":true}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "2",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "0",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "1",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "4",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 427.9999694824219,
	"y": 504.9999713897705,
	"wires": [
		["5e3a62c4.7766ec"]
	]
}, {
	"id": "d528c5f9.c21888",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "kun tilskudd",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1179.999984741211,
	"y": 528.6666488647461,
	"wires": []
}, {
	"id": "8600b56.1ab9248",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "",
	"func": "msg.payload=msg.payload.r33\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 407.9999694824219,
	"y": 455.6666374206543,
	"wires": [
		["77d91378.e6b61c"]
	]
}, {
	"id": "29728fe9.4aed3",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "AV(OFF)",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2028",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 596.8332901000977,
	"y": 587.6666526794434,
	"wires": [
		["a8181de5.d8d35"],
		[]
	]
}, {
	"id": "b57fe929.257a38",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "0",
		"fromt": "num",
		"to": "{\"On\":true}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "2",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "1",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "3",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "4",
		"fromt": "num",
		"to": "{\"On\":false}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 433.9999694824219,
	"y": 587.6666278839111,
	"wires": [
		["29728fe9.4aed3"]
	]
}, {
	"id": "6d9efde3.ba0b14",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "av",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1142.999984741211,
	"y": 588.3333168029785,
	"wires": []
}, {
	"id": "5d7b670b.d6c3e8",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "",
	"func": "msg.payload=msg.payload.r33\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 413.9999694824219,
	"y": 538.3332939147949,
	"wires": [
		["b57fe929.257a38"]
	]
}, {
	"id": "e6b987ac.d150b8",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r33\":1}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 902.1666717529297,
	"y": 239.0000171661377,
	"wires": [
		["ce60f2d.41f241", "950eb2c5.d8a9d"]
	]
}, {
	"id": "d43948e0.23b1f8",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r33\":2}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 991.0000610351562,
	"y": 322.66664695739746,
	"wires": [
		["e66b7c26.e33b3", "950eb2c5.d8a9d"]
	]
}, {
	"id": "39e34e17.8d4cd2",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r33\":4}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 942.0001106262207,
	"y": 418.6666679382324,
	"wires": [
		["aa1cfe6b.c92ae", "950eb2c5.d8a9d"]
	]
}, {
	"id": "8fbefec5.395ed",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r33\":3}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 931.0000381469727,
	"y": 505.6666507720947,
	"wires": [
		["d528c5f9.c21888", "950eb2c5.d8a9d"]
	]
}, {
	"id": "283e953d.9ebf2a",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r33\":0}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 897.9999771118164,
	"y": 586.666654586792,
	"wires": [
		["6d9efde3.ba0b14", "950eb2c5.d8a9d"]
	]
}, {
	"id": "a87c1620.4fe038",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 726.1666488647461,
	"y": 240.33331871032715,
	"wires": [
		["e6b987ac.d150b8"]
	]
}, {
	"id": "1a801b36.6b3015",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 823.9999809265137,
	"y": 323.99998474121094,
	"wires": [
		["d43948e0.23b1f8"]
	]
}, {
	"id": "6e3775ba.280c5c",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 771.9999847412109,
	"y": 418.9999809265137,
	"wires": [
		["39e34e17.8d4cd2"]
	]
}, {
	"id": "34ef3081.7bd96",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 763.9999847412109,
	"y": 505.9999837875366,
	"wires": [
		["8fbefec5.395ed"]
	]
}, {
	"id": "a8181de5.d8d35",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 726.9999809265137,
	"y": 587.0000267028809,
	"wires": [
		["283e953d.9ebf2a"]
	]
}, {
	"id": "b08dfc59.44b0d",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "6e138c8d.6be8d4",
	"parentService": "",
	"name": "TvingAntilegionella",
	"serviceName": "Switch",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "switch",
	"serialNo": "2030",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{}",
	"x": 442.00001525878906,
	"y": 638.3333225250244,
	"wires": [
		["6c20aa2c.dd54d4"],
		[]
	]
}, {
	"id": "2c2fce6a.481792",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r47\":1}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":false}",
		"fromt": "str",
		"to": "{\"r47\":7}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 780.0000381469727,
	"y": 624.333324432373,
	"wires": [
		["562be395.bd140c", "950eb2c5.d8a9d"]
	]
}, {
	"id": "562be395.bd140c",
	"type": "debug",
	"z": "d55bdece.ac356",
	"name": "Force AntiLegionella",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"targetType": "msg",
	"x": 1056.1666564941406,
	"y": 647.0001125335693,
	"wires": []
}, {
	"id": "6c20aa2c.dd54d4",
	"type": "json",
	"z": "d55bdece.ac356",
	"name": "",
	"property": "payload",
	"action": "str",
	"pretty": false,
	"x": 617.1666526794434,
	"y": 638.6666564941406,
	"wires": [
		["2c2fce6a.481792", "a8b00d25.ce02f"]
	]
}, {
	"id": "a8b00d25.ce02f",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "",
	"rules": [{
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":true}",
		"fromt": "str",
		"to": "{\"r44\":55}",
		"tot": "json"
	}, {
		"t": "change",
		"p": "payload",
		"pt": "msg",
		"from": "{\"On\":false}",
		"fromt": "str",
		"to": "{\"r44\":39}",
		"tot": "json"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 780.9999771118164,
	"y": 661.333324432373,
	"wires": [
		["562be395.bd140c", "950eb2c5.d8a9d"]
	]
}, {
	"id": "35decc23.7c1d94",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R00 Utetemp",
	"func": "msg.payload=msg.payload.r00\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 390,
	"y": 940,
	"wires": [
		["1554d8c6.cd1be7"]
	]
}, {
	"id": "427b1741.939e58",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R41 Varmtvannstemp",
	"func": "msg.payload=msg.payload.r41\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 418.99998474121094,
	"y": 899.0000534057617,
	"wires": [
		["c5a6e53f.3d96a8"]
	]
}, {
	"id": "1554d8c6.cd1be7",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 645.0000610351562,
	"y": 941.6666202545166,
	"wires": [
		["139c344d.1141ac"]
	]
}, {
	"id": "4f738e31.6960b",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Tempsensor Varmtvann",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2021",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 945.0000686645508,
	"y": 898.6666316986084,
	"wires": [
		[],
		[]
	]
}, {
	"id": "c5a6e53f.3d96a8",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 679.9999694824219,
	"y": 899.6666431427002,
	"wires": [
		["4f738e31.6960b"]
	]
}, {
	"id": "d215310.dbd95d",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R08 Brine ut",
	"func": "msg.payload=msg.payload.r08\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 389.9999771118164,
	"y": 1024.9999694824219,
	"wires": [
		["93a27e61.271f5"]
	]
}, {
	"id": "1c3c793.8667f87",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R09 Brine in",
	"func": "msg.payload=msg.payload.r09\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 386.9999771118164,
	"y": 981.9999675750732,
	"wires": [
		["8aabfb61.3c20e8"]
	]
}, {
	"id": "d47bf9b1.5e5ab8",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R06 Retur Varmeanlegg",
	"func": "msg.payload=msg.payload.r06\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 414.9999771118164,
	"y": 1101.9999642372131,
	"wires": [
		["16a6bf1.7299141"]
	]
}, {
	"id": "25f427e1.72f228",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "R05 Tur Varmeanlegg",
	"func": "msg.payload=msg.payload.r05\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 414.99998474121094,
	"y": 1065.9999713897705,
	"wires": [
		["6af268e8.8cd018"]
	]
}, {
	"id": "1b345dd6.5cc232",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Brine ut",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2023",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 830.0000381469727,
	"y": 1022.9999704360962,
	"wires": [
		[],
		[]
	]
}, {
	"id": "1838324e.d875fe",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Tur varmeanlegg",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2024",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 928.0001068115234,
	"y": 1065.9999713897705,
	"wires": [
		[],
		[]
	]
}, {
	"id": "160e822a.efc9de",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Retur Varmeanlegg",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2025",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 929.0000381469727,
	"y": 1102.999972820282,
	"wires": [
		[],
		[]
	]
}, {
	"id": "2380c25c.49697e",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Brine inn",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2026",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 813.0000648498535,
	"y": 981.9999685287476,
	"wires": [
		[],
		[]
	]
}, {
	"id": "139c344d.1141ac",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Tempsensor ute",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2020",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 887.0000228881836,
	"y": 941.9999694824219,
	"wires": [
		[],
		[]
	]
}, {
	"id": "2954b433.675f9c",
	"type": "homekit-service",
	"z": "d55bdece.ac356",
	"isParent": true,
	"bridge": "366d0020.65a6c",
	"parentService": "",
	"name": "Kompressortemp",
	"serviceName": "TemperatureSensor",
	"topic": "",
	"filter": false,
	"manufacturer": "ThermIQ",
	"model": "Default Model",
	"serialNo": "2020",
	"firmwareRev": "",
	"hardwareRev": "",
	"cameraConfigVideoProcessor": "",
	"cameraConfigSource": "",
	"cameraConfigStillImageSource": "",
	"cameraConfigMaxStreams": "",
	"cameraConfigMaxWidth": "",
	"cameraConfigMaxHeight": "",
	"cameraConfigMaxFPS": "",
	"cameraConfigMaxBitrate": "",
	"cameraConfigVideoCodec": "",
	"cameraConfigAudioCodec": "",
	"cameraConfigAudio": false,
	"cameraConfigPacketSize": "",
	"cameraConfigVerticalFlip": false,
	"cameraConfigHorizontalFlip": false,
	"cameraConfigMapVideo": "",
	"cameraConfigMapAudio": "",
	"cameraConfigVideoFilter": "",
	"cameraConfigAdditionalCommandLine": "",
	"cameraConfigDebug": false,
	"cameraConfigInterfaceName": "",
	"characteristicProperties": "{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}",
	"x": 921.9999847412109,
	"y": 1162.9999732971191,
	"wires": [
		[],
		[]
	]
}, {
	"id": "8aabfb61.3c20e8",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 608.9999771118164,
	"y": 982.9999694824219,
	"wires": [
		["2380c25c.49697e"]
	]
}, {
	"id": "93a27e61.271f5",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 613,
	"y": 1023.9999694824219,
	"wires": [
		["1b345dd6.5cc232"]
	]
}, {
	"id": "6af268e8.8cd018",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 675,
	"y": 1066.9999713897705,
	"wires": [
		["1838324e.d875fe"]
	]
}, {
	"id": "16a6bf1.7299141",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 682.9999694824219,
	"y": 1102.9999732971191,
	"wires": [
		["160e822a.efc9de"]
	]
}, {
	"id": "80332dd7.d602e",
	"type": "change",
	"z": "d55bdece.ac356",
	"name": "Set playoad to HkMsg Temperature",
	"rules": [{
		"t": "move",
		"p": "payload",
		"pt": "msg",
		"to": "payload.CurrentTemperature",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "payload.StatusActive",
		"pt": "msg",
		"to": "true",
		"tot": "bool"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 664.9999771118164,
	"y": 1159.9999742507935,
	"wires": [
		["2954b433.675f9c"]
	]
}, {
	"id": "18dd9333.f04d9d",
	"type": "function",
	"z": "d55bdece.ac356",
	"name": "r17 kompressortemp",
	"func": "msg.payload=msg.payload.r17\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 409.9999694824219,
	"y": 1157.9999732971191,
	"wires": [
		["80332dd7.d602e"]
	]
}, {
	"id": "6acf9a01.f47844",
	"type": "comment",
	"z": "d55bdece.ac356",
	"name": "Styring ",
	"info": "",
	"x": 720,
	"y": 200,
	"wires": []
}, {
	"id": "ed86184f.69ead8",
	"type": "comment",
	"z": "d55bdece.ac356",
	"name": "Temperaturer",
	"info": "",
	"x": 660,
	"y": 840,
	"wires": []
}, {
	"id": "6e138c8d.6be8d4",
	"type": "homekit-bridge",
	"z": "",
	"bridgeName": "Varmepumpe",
	"pinCode": "123-45-678",
	"port": "",
	"allowInsecureRequest": false,
	"manufacturer": "Electronics",
	"model": "Bridge",
	"serialNo": "00001",
	"customMdnsConfig": false,
	"mdnsMulticast": true,
	"mdnsInterface": "",
	"mdnsPort": "",
	"mdnsIp": "",
	"mdnsTtl": "",
	"mdnsLoopback": true,
	"mdnsReuseAddr": true,
	"allowMessagePassthrough": true
}, {
	"id": "7d2c778d.4bc468",
	"type": "mqtt-broker",
	"z": "",
	"name": "ThermIQ",
	"broker": "192.168.0.157",
	"port": "1887",
	"clientid": "",
	"usetls": false,
	"compatmode": false,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "1d875a1e.53c9d6",
	"type": "mqtt-broker",
	"z": "",
	"name": "ThermIQ",
	"broker": "192.168.0.157",
	"port": "1887",
	"clientid": "",
	"usetls": false,
	"compatmode": false,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "366d0020.65a6c",
	"type": "homekit-bridge",
	"z": "",
	"bridgeName": "Varmepumpe",
	"pinCode": "123-45-678",
	"port": "",
	"allowInsecureRequest": false,
	"manufacturer": "ThermIQ",
	"model": "Bridge",
	"serialNo": "00001",
	"customMdnsConfig": false,
	"mdnsMulticast": true,
	"mdnsInterface": "",
	"mdnsPort": "",
	"mdnsIp": "",
	"mdnsTtl": "",
	"mdnsLoopback": true,
	"mdnsReuseAddr": true,
	"allowMessagePassthrough": true
}]
